<h2>{{Title}}</h2>
<mat-divider></mat-divider>
<div class="container">
    @if(activities.length===0){
        <p> No hay actividades recreativas para mostrar</p>
    }@else{
        <div class="row g-4">
            @for (activity of activities; track $index){
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <mat-card appearance="outlined" class="actividad-card">
                        <mat-card-header>
                            <mat-card-title> <strong>{{activity.name}}</strong></mat-card-title>                
                        </mat-card-header>
                        @if (activity.image) {
                            <img mat-card-image [src]="activity.image" [alt]="activity.image" #imgActivity />	
                        }@else {
                            <img mat-card-image src="images/default.png" [alt]="activity.image" #imgActivity  />
                        }
                        <mat-card-content>
                            <p class="categoria">{{activity.category}}</p>
                            <p>{{activity.description}}</p>
                            <p><strong>Precio: </strong>{{activity.price| currency: "USD"}}</p>
                            @if(activity.rating===true){
                                <p class="rating">Para todas las edades</p>
                            }@else{
                                <p class="rating">Para mayores de 16 años</p>
                            }
                        </mat-card-content>
                        <mat-card-actions class="center-button ">	               
                            <button mat-flat-button (click)="adquirir(activity)"> 
                                <mat-icon>favorite</mat-icon> 
                                Adquirir</button>
                        </mat-card-actions>	
                    </mat-card>
                </div>                
            }                        
        </div>        
    }    
</div>
