h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contenido{
    display:flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 10px;
}

.excursion-card{
    padding: 10px;
    border: 2px solid #ddd;
    margin:10px;
    width: 25%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 650px;
}

.excursion-card:hover{
    transform: translateY(-10px);
    box-shadow:0px 3px 3px 3px #aaa;
}

.excursion-card img{
    width: 250px;
    height: 250px;
    margin:auto;
    padding: 10px;
}


mat-card-title{
    text-align: center;
}

.btnReservar {
    display: flex;
    border: none;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 1rem;
}

.btnReservar:hover {
    transform: translateY(-3px);
}

mat-icon{
    vertical-align: text-bottom;
}

mat-card-actions{
    display: flex;
    justify-content: center;
}

.price{
    text-align: center;
}

mat-divider{
    width:85%;
    margin: 0 auto; 
    display: block;
    padding:5px;
}


