<div class="encabezado"><h1>{{title}}</h1>
  <nav>
      <div>
          <!--<a routerLink="/lista-peliculas" routerLinkActive="active">Lista de peliculas</a>
          <a routerLink="/lista-actividades" routerLinkActive="active">Actividades Recreativas</a>
          <a routerLink="/crud-actividadesRecreativas" routerLinkActive="active"> CRUD Actividades</a>-->
          
          <ul class="menu-horizontal">
              <li><a href="#">Inicio</a></li>
              <li>
                <a href="#">Actividades</a>
                <ul class="menu-vertical">
                  <li><a routerLink="/lista-actividades" routerLinkActive="active"> Lista Actividades Recreativas</a></li>
                  <li><a routerLink="/crud-actividadesRecreativas" routerLinkActive="active"> CRUD Actividades</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Excursiones</a>
                <ul class="menu-vertical">
                  <li><a >Actividades Recreativas</a></li>
                  <li><a> CRUD Actividades</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Guias Turísticos</a>
                <ul class="menu-vertical">
                  <li><a routerLink="/lista-guias-turisticos" routerLinkActive="active"> Lista Guias Turísticos</a></li>
                  <li><a routerLink="/crud-guias-turisticos" routerLinkActive="active"> CRUD Guias Turísticos</a></li>
                </ul>
              </li>
                  <a href="#">Transporte</a>
                <ul class="menu-vertical">
                  <li><a routerLink="/transporte" routerLinkActive="active">transporte</a></li>
                  <li><a routerLink="/Crud-transporte" routerLinkActive="active"> Crud transporte</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Restaurantes</a>
                <ul class="menu-vertical">
                  <li><a routerLink="/lista-restaurantes" routerLinkActive="active">Lista de Restaurantes</a></li>
                  <li><a routerLink="/crud-restaurantes" routerLinkActive="active"> CRUD Restaurantes</a></li>
                </ul>
              </li>
          </ul>
      </div>
  </nav>
</div>

<router-outlet></router-outlet>