.pelicula{
    border: 2px solid gray;
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
}

.pelicula img{
    border-radius: 10%;
    width: 170px;
    height: 250px;
}
.btncompra{
    background-color: pink;
    border: 1px solid red;
    padding: 3px;
}
.activa{
    border: 2px solid red;
    box-shadow: 0px 4px 4px 6px #aaa;
}
.pelicula-card{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
.pelicula-card img{
    border-radius: 10%;
    width: 170px;
    height: 250px;
}
mat-card-title{
    color: red;
}
