<h3>{{title}}</h3>
<h4>Uso de directivas estructurales tradicionales</h4>
<div *ngIf="movies.length===0">
    <p>No hay peliculas para mostrarr</p>
</div>
<div *ngIf="movies.length>0">
    <div *ngFor="let movie of movies; let indice=index" style="display: inline-block">
        <div class="pelicula">
            <h4>{{movie.title | uppercase}}</h4>
            <p>{{movie.genre}}</p>
            <img [src]="movie.poster" [alt]="movie.title" #imgMovie (mouseenter)="activar(imgMovie)"
            (mouseleave)="desactivar(imgMovie)"> <!--directivas de atributos-->
            <p><strong>Fecha: </strong>{{movie.releaseDate | date:"dd-MMMM-YYYY"}}</p>
            <p><strong>Presupuesto: </strong>{{movie.budget | currency: "USD"}}</p>
            <button class="btncompra" (click)="comprar(movie)">Comprar</button>
           
        </div>
    </div>
</div>


<h4>Uso de directivas estructurales modernas</h4>
@if(movies.length===0){
    <p>No hay peliculas para mostrarr</p>
}@else {
    @for (movie of movies; track $index) {
        <mat-card appearance="outlined" class="pelicula-card">
            <mat-card-header>
                <mat-card-title> <strong>{{movie.title}}</strong></mat-card-title>
                <mat-card-subtitle>	<p>{{movie.genre}}</p></mat-card-subtitle>
            </mat-card-header>
            @if (movie.poster) {
                <img mat-card-image [src]="movie.poster" [alt]="movie.title" #imgMovie (mouseenter)="activar(imgMovie)"
                (mouseleave)="desactivar(imgMovie)"/>	
            }@else {
                <img mat-card-image src="images/default.png" [alt]="movie.title" #imgMovie (mouseenter)="activar(imgMovie)"
                (mouseleave)="desactivar(imgMovie)" />
            }
            <mat-card-content>
                <p><strong>Fecha: </strong>{{movie.releaseDate | date:"dd-MMMM-YYYY"}}</p>
                <p><strong>Presupuesto: </strong>{{movie.budget | currency: "USD"}}</p>
            </mat-card-content>
            <mat-card-actions>	               
                <button mat-flat-button (click)="comprar(movie)"> 
                    <mat-icon>favorite</mat-icon> 
                    Comprar</button>
                </mat-card-actions>	
        </mat-card>
          
    }
             
}

