/* Estilo para el componente CRUD */
:host {
  display: block;
  padding: 20px;
  border-radius: 10px;  /* Bordes redondeados más pronunciados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;  /* Asegura que el contenedor ocupe el 95% del ancho */
  margin: 0 auto;  /* Centrado en la pantalla */
}

/* Título */
h2 {
  text-align: center;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;  /* Márgenes más equilibrados */
}

/* Separador */
mat-divider {
  width: 85%;
  margin: 0 auto;
  display: block;
  padding: 5px;
}

/* Contenedor de búsqueda */
.search-container {
  margin-left: 20px;
}

.search-container button {
  margin: 10px;
  transform: translateY(-22%);
}

/* Estilos de los formularios y campos */
.formActions {
  margin: 10px;
}

.formCampoMedio {
  margin: 10px;
  width: 17rem;  /* Ancho específico para campos medianos */
}

.formCampoPequeño {
  margin: 10px;
  width: 10rem;  /* Ancho específico para campos pequeños */
}

form {
  margin: 20px;
  margin-bottom: 40px;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 15px;
}

/* Estilo de los botones */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin: 10px;  /* Ajustar márgenes para los botones */
}

button:hover {
  background-color: #FFBF78;  /* Botón cambia a naranja suave al hacer hover */
}

/* Diseño responsivo para pantallas más pequeñas */
@media (max-width: 600px) {
  :host {
      padding: 10px;
  }

  h2 {
      font-size: 20px;  /* Reducir tamaño del título */
  }

  .formCampoMedio, .formCampoPequeño {
      width: 100%;  /* Los campos de formulario ocupan todo el ancho */
  }

  button {
      font-size: 14px;
      padding: 8px 16px;
      width: 100%;  /* Hacer los botones de ancho completo */
  }

  li {
      flex-direction: column;  /* Cambiar a columna para adaptarse mejor a pantallas pequeñas */
      align-items: flex-start;
  }

  li button {
      width: 100%;  /* Botones de lista ocupan todo el ancho */
      margin-top: 10px;
  }
}

