.search-container{
    margin-left: 20px;
}
.formElement{
    margin: 10px;
}
form{
    margin: 20px;
    margin-bottom: 40px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 15px;
}
h2{
    text-align: center;
    margin: 10px;
}

body{
    margin: 20px;
}
.container {
    width: 95%;
     
    
}